$containerWidth: 940px;
$baseFontSize: 18px;


//breakpoints

$tablets: 768px;
$phones: 480px;


//colors
$grey: #F8FAF9;

@import "components/media.scss";

//z-indexes

$z-fixed-menu: 100;


//normalize
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

//setups
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap");
@import "layout";

//components
@import "components/hero.scss";
@import "components/header.scss";
@import "components/features.scss";
@import "components/feature.scss";
@import "components/button.scss";
@import "components/section.scss";
@import "components/headline.scss";
@import "components/benefits.scss";
@import "components/benefit.scss";
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/form.scss";
@import "components/radio.scss";
@import "components/fixed-menu.scss";
@import "components/map.scss";
@import "components/hamburger.scss";