.button {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(21px) rem(40px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;


  &--theme--yellow {
    background: #FEDB3F;
    color: black;

      &:hover {
        color: #FEDB3F;
        background: #fff;
    }
  }


  &--theme--transparent {
    background: transparent;
    color: white;
    text-transform: none;

    &:hover {
      color: #FEDB3F;
    }
  }
}
